.home-page{
    width: 100%;
    height: 100vh;
    background-image: url("../images/2.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    top:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

}
.home-page .container{
    position: fixed;
    z-index: 0s;
    left:0;
    right:0;
    text-align: center;
    height: fit-content;
}
.home-page .section-desc{
    width:fit-content;
    color:#EDEDED;
    text-align: left;
    margin:20px 0px;
}
.home-page .section-desc .title{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 0.5;
}
.home-page .section-desc .name{
    font-size: 22px;
    font-weight: 700;
    line-height:1;
    text-transform: uppercase;
    padding:10px 0px 20px 4px;
    letter-spacing: 12px;
    margin: auto;
}
.home-page .section-desc a{margin: 0;}
.home-page .section-desc .desc{
    width:650px;
    line-height: 1.8;
    font-size: 17px;
    color: #b3b3b3;
    font-weight: 500;
    text-transform: uppercase;
}
.home-page .section-desc .btn{
    width:fit-content;
    height:fit-content;
    margin:20px 0;
    border: 1px solid #EDEDED;
    padding:5px 20px;
    font-size: 14px;
    transition: background-color 0.3s,border 0.3s;
    font-weight: 700;
}
.home-page .section-desc .btn:hover{
    background-color: #ededed00;
    border:1px solid #EDEDED;
    color:#EDEDED !important;
}

@media screen and (max-width:900px) {
    .home-page .section-desc .desc{
        width:58vw;
    }
}
@media screen and (max-width:600px) {
    .home-page .section-desc{
        text-align: center;
    }
    .home-page .section-desc .title{
        font-size: 10vw;
    }
    .home-page .section-desc .name{
        font-size: 3.8vw;
        letter-spacing: 2vw;
    }
    .home-page .section-desc .desc{
        font-size:3vw;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .home-page .section-desc a{margin:auto}
    .home-page .section-desc .btn{
        font-size: 3vw;
    }
}